* {margin: 0px; font-size: .95em;}

a {color: #000; text-decoration: none;}
h1 {font-size: 1em; background-color: #f4f4f6; display: inline; font-weight: normal;}
h2 {font-size: 1em; font-weight: normal; display: inline-block;}
h3 {font-size: 1em; padding: 5px; font-weight: normal; color: #fff;}
h3 a:hover {border-bottom: 4px solid #f4f4f6}
h4 {font-size: 1em; padding-bottom: 5px; font-weight: normal; display: inline-block;}
h4 a:hover {border-bottom: 4px solid #f4f4f6}
h4 u {font-size: 1em;}
h5 {font-size: 1em; color: #000; padding-top: 100px; font-weight: normal;}
h6 {font-size: 1em; color: #000; font-weight: normal; display: inline-block;}
h6 a:hover {border-bottom: 4px solid #f4f4f6; cursor: pointer;}
u {font-size: 1em;}
p {margin-bottom: 15px;}
ul {list-style-type: none; padding: 0px; text-align: left;}
li {font-size: 1em; padding-bottom: 5px; font-weight: normal; display: inline-block;}
li a:hover {border-bottom: 4px solid #f4f4f6}
hr {border: none; border-bottom: 1px solid #bfbfbf; margin-top: 30px; margin-bottom: 30px;}
audio {width: 900px !important;}
em {font-size: 1em;}
sup {font-size: .25em}

mark {
  background-color: #f4f4f6;
  color: black;
}

img {margin-bottom: 0px; margin-top: 0px; border: 0px solid #f4f4f6;}
body {padding: 35px; font-family: sans-serif; font-weight: normal; text-align: center;}
#header {height: 100px; text-align: left; width: 700px; position: fixed; top: 35px; right: 0; left: 0; margin: auto; font-size: 1em;}

#content {text-align: center; width: 700px; margin: auto; }
#content2 {text-align: center; width: 900px; margin: auto; }
#content-inner-wrapper {margin-top: 100px;}
#logo {text-decoration: none; padding: 15px; float: left; margin-top: 15px;}
#info {margin-left: 20px; float: left; border-bottom: 4px solid #f4f4f6; padding: 15px; height: 30px;}
#main {width: 700px; height: 400px; background-image: url('https://michaelseh.com/images-compressed/view09.jpg'); background-repeat: repeat; padding-top: 300px; margin-bottom: 20px;}
#main a {color: #fff; text-decoration: none; border: 4px solid #f4f4f6; padding: 20px; font-weight: normal; display: inline-block;}
#moreinfo {display: none; padding-left: 5px;}
#exhibit {font-weight: normal; color: #000; text-align: left; margin-bottom: 45px; line-height: 1.5em; margin-top: 100px;}
#exhibit2 {font-weight: normal; color: #000; text-align: center; margin-bottom: 45px; line-height: 1.5em; margin-top: 100px;}
#exhibit-text {width: 700px; display: inline-block; text-align: left;}
.no-blue {border-bottom: 0px solid #f4f4f6 !important}
#exhibit a {border-bottom: 4px solid #f4f4f6;}
#exhibit2 a {border-bottom: 4px solid #f4f4f6;}
.no-blue:hover {border-bottom: 4px solid #f4f4f6 !important}
#exhibit a:hover {border-bottom: 4px solid #f4f4f6}
#exhibit2 a:hover {border-bottom: 4px solid #f4f4f6}
#upcoming {text-align: left; width: 700px; margin-bottom:25px;}
#fwrapper {width: 700px; padding-bottom: 125px; line-height: 1.2em; display: inline-block; font-size: 1em;}
#fwrapper ul a {border-bottom: none;}
#fwrapper ul a:hover {border-bottom: 4px solid #f4f4f6;}
#fwrapper u {font-size: 1em;}
#past {text-align: left; width: 340px; margin-bottom:25px; display: inline-block; float: left;}
.caption {font-size: 1em !important; color: #aaa; text-align: left; display:inline-block; margin-bottom:15px;}
.caption a {font-size: 1em; color: #aaa; text-decoration: underline; border-bottom: 0px !important;}
.caption em {font-size: 1em !important; color: #aaa;}
#past li {display: block;}
#upcoming li {display: block;}
#press {text-align: right; width: 340px; margin-bottom:25px; display: inline-block; float: right;}
#press li {display: block;}
#press ul {text-align: right;}
.block li {display: block;}
.install-pics {padding-bottom: 35px;}
.install-pics li {padding-bottom: 25px;}

#mc_embed_signup {text-align: left; padding-left: 10px;}
.submit-button {margin-top: 5px;}
.email-submit {display: inline-block;}

#notice {font-size: 1em; display: inline-block; width: 700px; margin-bottom: 35px;}

@media only screen and (max-device-width: 480px) { 

* {margin: 4px; font-size: 1.15em;}

h4 {font-size: 1em; padding-bottom: 50px; font-weight: normal; display: inline-block;}
li {font-size: 1em; padding-bottom: 50px; font-weight: normal; display: inline-block;}
p {margin-bottom: 50px;}
a {font-size: 1em;}

mark {
  background-color: #f4f4f6;
  color: black;
}

#header {height: 100px; text-align: left; width: 700px; position: absolute; top: 35px; right: 0; left: 0; margin: auto; font-size: 1.3em}

#content-inner-wrapper {margin-top: 335px;}
#logo {padding: 15px; float: none; margin-top: 2px;}
#info {margin-left: 20px; float: none; border-bottom: 4px solid #f4f4f6; padding: 15px; height: 100px;}
#main {width: 700px; height: 500px; background-image: url('https://michaelseh.com/images-compressed/view09.jpg'); background-repeat: repeat; padding-top: 175px; margin-bottom: 250px; font-size: 1.3em;}
#exhibit {font-weight: normal; color: #000; text-align: left; margin-bottom: 45px; line-height: 1.5em; margin-top: 335px;}
#exhibit2 {font-weight: normal; color: #000; text-align: center; margin-bottom: 45px; line-height: 2.25em; margin-top: 335px;}
#exhibit2 a {font-size: 1em;}
#moreinfo {display: inline-block; padding-left: 5px; padding-top: 50px; font-size: 1em;}
#moreinfo a {font-size: 1em; border-bottom: 4px solid #f4f4f6;}
#fwrapper {width: 700px; padding-bottom: 125px; line-height: 1.5em; display: inline-block; font-size: 1em;}
#fwrapper ul a {border-bottom: 4px solid #f4f4f6;}

#past {text-align: left; width: 700px; margin-bottom:25px; display: inline-block; float: none; font-size: 1em;}
#press {text-align: left; width: 700px; margin-bottom:25px; display: inline-block; float: none; font-size: 1em;}
#press ul {text-align: left;}

#mc_embed_signup {display: none;}

#notice {font-size: 1em; display: inline-block; width: 700px; margin-bottom: 35px;}
  
}
