.navbar .email {
  background: #fff;
  border: none;
  bottom: 2rem;
  cursor: pointer;
  margin-left: 1em;
  position: fixed;
  right: 2rem;
  padding: 0.6em 1em;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  z-index: 1000;
  color: inherit;
}

.navbar .email:hover {
  background-color: #eee;
}

@media (max-width: 767px) {
  .navbar {
    display: flex;
  }

  .navbar .email {
    color: #000;
  }
}

.device-img {
  display: none;
  width: 50vw;
  height: 50vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .device-img {
    display: block;
    margin: auto;
  }
}