* {
	font-smoothing: antialiased;
}

 ::selection {
        background: #eee;
      }

      a {
        color: black;
        text-decoration: none;
      }

.layout {
	padding-top: 3em;
	padding-bottom: 20em;
	width: 100%;
	background-color: #fff;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 700px;
}

body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16px;
	background-color: #fff;
}

h1 {
	font-size: 3em;
	margin-bottom: 0.5em;
	font-weight: 700;
}

.excerpt {
	font-size: 1.6em;
	margin-bottom: 1em;
	line-height: 1.4em;
	color: #000;
}

p {
	line-height: 1.6em;
	margin-bottom: 1em;
	color: #333;
}

footer{
	font-size: 0.7em;
	line-height: 1.6em;
	margin-bottom: 1em;
	color: #333;
}

.toggler {
	display: block;
	position: fixed;
	width: 48px;
	height: 48px;
	right: 24px;
	top: 24px;
	background-color: #222;
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	transition: background-color 300ms;
	will-change: transform;
	
	&.dark {
		background-color: #eee;
		
		&:after {
			content: "";
			position: fixed;
			width: 16px;
			height: 16px;
			left: 16px;
			top: 16px;
			background: url(https://michaelseh.com/svg/sun.svg)
		}
		
	}
	
	&:after {
		content: "";
		position: fixed;
		width: 16px;
		height: 16px;
		left: 16px;
		top: 15px;
		background: url(https://michaelseh.com/svg/moon.svg) no-repeat;
	}
	
	&:hover {
		background-color: #555;
		transform: rotate(-10deg);
	}
	
}

.circle {
	border: none;
	display: block;
	right: 24px;
	top: 24px;
	position: fixed;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	z-index: 99;
	mix-blend-mode: difference;
	//backdrop-filter: blur(2px);
	transition: transform 1s ease;
	transform: scale(1) translateZ(0);
	outline: 1px solid transparent;
	backface-visibility: hidden;
	will-change: transform;
	perspective: 1000;

}

.circle.clicked {
	transform: scale(128) translateZ(0);
}