@font-face {
    font-family: 'TeeFranklin-Medium';
    src: url('/fonts/TeeFranklin-Medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('/fonts/TeeFranklin-Medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-style: normal;
	font-weight: 100%;
}  

	h1 {
      font-family: TeeFranklin-Medium, Helvetica, sans-serif;
      font-weight: 100%;
      font-size: 10em;
      color: #444444;
      letter-spacing: .05em;;
  					}
  	
    a {
      color: #ccc;
      text-decoration: none }
    a:active   {
      color: #000;
      text-decoration: none }
    a:hover      {
      color: #000;
      text-decoration: none }