html, body {
    background-color: #F2F2F7;
    width: 100%;
    height: 100%;
    margin: -50px 0px 0px 0px;
    border: 0;
    outline: 0;
    font-family: 'SF-Pro-Text-Regular';
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* (A) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation:portrait)  {
    
  #turn  {
     display: none;
 }

  #container  {
     display: block;
 }

}

/* (B) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation:landscape)  {
    
  #turn  {
     display: block;
 }

  #container  {
     display: none;
 }

}

@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url("/SF-Pro-Text-Regular.woff2") format('SF-Pro-Text-Regular');
}
